.avaliableApps {
  margin: 24px;
  display: flex;
  justify-content: center;
}

.appsButton {
  background-color: #586A6A;
  border-color: #586A6A;
  color: #CEE0DC
}

.appsButton:hover {
  background-color: #818D92;
  border-color: #818D92;
  color: #CEE0DC
}
