.gatekeeper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
}

.gatekeeperGif {
  width: 400px;
}

.appsButton {
  background-color: #586A6A;
  border-color: #586A6A;
}

